$base-font-family: "Core Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$base-font-weight: 400;
$base-font-size: 14px;
$base-line-height: 1.42;
$base-letter-spacing: .2px;

$masthead-height: 50px;
