body {
	font-family: $base-font-family;
	color: darken($gray, 5);
}

h1, h2, h3 {
	line-height: normal;
}

hr {
	border-style: solid;
	color: $gray-15;
}

.text {
	&-small {
		font-size: 85%;
		letter-spacing: .33px;
	}
	&-muted {
    font-weight: 300;
    color: $gray-50;
	}
}
