.k-grid {
  border-top: none;
  border-right: none;
  border-left: none;

  .k-grid-header,
  .k-grid-container {
    color: $gray;
  }

  .k-grid-header {
    font-size: 11px;
    letter-spacing: 0.33px;
    text-transform: uppercase;

    th {
      font-weight: 600;
      padding: 10px 12px;
      line-height: 1.4;
    }

    tr {
      &:hover {
        background-color: transparent;
      }

      .k-header {
        white-space: normal;

        &.k-sorted {
          background-color: rgba(0, 0, 0, 0.08);
        }

        .k-link {
          margin: 0;
          padding: 0;
          height: auto;
          display: flex;

          .k-icon, .k-sort-order {
            align-self: flex-end;
            white-space: nowrap;
          }

          .k-icon {
            flex-basis: 16px;
          }

          .k-sort-order {
            color: rgba(0, 0, 0, .6);
            font-weight: 300;
            // margin-left: 3px;
          }
        }

      }

    }

  }

  .k-grid-container {
    font-size: 13px;
    letter-spacing: 0.2px;
    line-height: 14px;

    tr {

      &.k-state-selected {
        background-color: $digital-orange-30;
      }

      &.k-alt:not(.k-state-selected) {
        background-color: $gray-row-background;
      }

      &:hover:not(.k-state-selected) {
        background-color: $digital-orange-15;
      }

      td {
        padding: 10px 12px;
        border-bottom: none;
        white-space: nowrap;
      }

    }

  }

}
